// Définition des variables de couleur utilisées dans l'application

$background-light-color: #FDFDFE;
$background-darken-color: #E1E9FF;
$black-color: black;
$blue-color: #8DA4EF;
$blue-darken-color: #3358D4;