@import '../variables/colors.scss';
@import '../variables/mixins.scss';

.footer {
  height: 170px;
  color: $background-light-color;
  background-color: $black-color;
  @include flex-center(column, center, center); /* Centrage vertical et horizontal */

  .footerContent {
    text-align: center;
    margin-bottom: 20px;
  }

  /* Ajout des icônes sociales dans le footer */
  .social-icons {
    display: flex;
    gap: 40px;
    justify-content: center;

    a {
      color: $background-light-color;
      font-size: 24px;
      transition: color 0.3s ease;

      &:hover {
        color: lighten($background-light-color, 10%);
      }
    }
  }
}
